<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{data.image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body ">
          <h5 class="card-title">{{data.title}}</h5>
          <p class="card-text">{{data.description}}</p>
          <p class="card-text t1"><b>Rs. {{data.price}}</b></p>
          <button type="button" class="btn btn-warning">Buy now</button>
        </div>
      </div>
    </div>
  </div>