

<div class="bdy">
    <div class="container">
        <h2>Contact Us</h2>
        <form action="index.html" method="post">
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required>
    
            <label for="email">Your Email:</label>
            <input type="email" id="email" name="email" required>
    
            <label for="message">Your Message:</label>
            <textarea id="message" name="message" rows="5" required></textarea>
    
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="map1" style="border: 50px; border-color: #ffb73b;">
        <h3>find us..</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.5177380648925!2d76.35740757362493!3d10.05659577206121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080c06efa7bdb7%3A0x9be2086002345b27!2sNeST%20Electronics%20City%20%2F%20NeST%20Hitek%20Park!5e0!3m2!1sen!2sin!4v1707278187596!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
</div>