.map1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}
.bdy {
    display:flex;
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffb73b;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(171, 89, 89, 0.1);
}
h3 {
    color: #ffb73b;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea {
    resize: vertical;
}
input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}