<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7uP2ZLso6hZmLiFdkG8Po8gmzjtyFkZMWLA7W-1WC6TK1dXlRwYyz6t6kGPdeyUlMG_0&usqp=CAU" alt="">
            <h1>Monkey Mart</h1>
        </a> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="float: right;">
        
        <a class="nav-link" aria-current="page" routerLink="">Home</a>
          <a class="nav-link" routerLink="product">Product</a>
          <a class="nav-link" routerLink="">Pricing</a>
          <a class="nav-link" routerLink="contact">Contact us</a>
        </div>
      </div>
    </div>
  </nav>